html {
	height: 100%;
}

body {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 10px;
	min-height: 100%;
	font: 90%/1.25 'Open Sans', sans-serif;
	color: #222222;
}

form p {
	margin: 0;
}

#messages,
#online-users {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

#online-users {
	margin-top: 30px;
}

#online h3 {
	margin: -2px 0 0 -2px;
	padding: 2px 0 7px 2px;
	height: 21px;
	position: fixed;
	background: #FFFFFF;
}

#messages,
#online {
	margin: 15px 0;
	overflow: auto;
}

#messages {
	margin-right: 2.5%;
}

#messages li {
	padding: 7px 4px;
	font-size: 90%;
}

#messages li.user.you,
#messages li.user.you:nth-child(even) {
	background: #E3F8FA;
}

#messages li:nth-child(even) {
	background: #EEEEEE;
}

#message,
#your-name {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	resize: none;
}

#messages .loading {
	color: #555555;
	font-style: italic;
}

#messages .join {
	color: #008000;
}

#messages .leave {
	color: #CC0000;
}

#messages .name {
	font-weight: bold;
}

#messages .user .name {
	display: block;
	font-size: 110%;
}

#messages .timestamp {
	color: #555555;
	font-size: 70%;
	padding-left: 8px;
	float: right;
}

#messages .pm {
	font-style: italic;
}

#messages .pm .recipients {
	font-size: 90%;
	color: #555555;
}

#messages .pm .recipients:after {
	content: ': ';
}

#online {
	float: right;
	width: 30%;
	margin-left: 2.5%;
	padding-left: 2.5%;
	border-left: 1px solid #CCCCCC;
}

.clear {
	clear: both;
}

#online-users li {
	color: #00AA00;
}

#online-users li.typing:after {
	content: ' (typing…)';
	color: #AAAAAA;
}

#online-users li.idle {
	color: #999999;
}

#online-users li.idle:after {
	content: ' (idle)';
	color: #AAAAAA;
}